@model IEnumerable<EntityFramework.WebApp.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Ajax.BeginForm(
                new AjaxOptions
                {
                    HttpMethod = "get",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "customersList"
                }))
{
    <input type="search" name="searchTerm" />
    <input type="submit" value="Search by name" />
}


@Html.Partial("_CustomersList", Model)