@model List<string>
@{
    ViewBag.Title = "Index";
    //Layout = null;
}

<h2>Index</h2>
<div>
    @foreach (var item in Model)
    {
        <p>@OptimizeString(item)</p>
    }
    
</div>

@section scripts{
    <script>
        //x = x + 1;
        //console.log(x);
    </script>
}


@functions {
    public string OptimizeString(string str)
    {
        if (str.Length > 20)
        {
            return str.Substring(0, 20) + "...";
        }

        return str;
    }
}