
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2>Hello from ASP.NET MVC.</h2>
        <h3>My name is <span style="color:@ViewBag.Color">@ViewBag.Name</span></h3>
    </div>
</body>
</html>
